<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data structures</title>
</head>
<body>
    <h2>Data Structures in Jinja2</h2>

    <h3>List Operations</h3>

    <p>
        Jina said her top three favorite movies {{ movies[0] }},
        {{ movies[1] }} and {{ movies[2] }}
    </p>

    <h3>Dictionary Operations</h3>

    <p>
        This is a {{ car["brand"] }} {{ car["model"] }}
    </p>

    <h3>Custom Data Structures</h3>

    <p>
        The four Galilean moons of Jupiter are {{ moons.first }}, {{ moons.second }}, 
        {{ moons.third }}, {{ moons.fourth }}
    </p>

</body>
</html>
