<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loops and Conditionals</title>
</head>
<body>
    <h1>Loops in Jinja2</h1>
    <h2>For loop & conditional statements</h2>

    # Jinja loop
    {% for user, os in user_os.items() &}

        {% if os == "Windows" %}
            <p>{{ user }} is a Windows user.</p>
        {% elif os == "MacOS" %}
            <p>{{ user }} is a MacOS user.</p>
        {% if os == "Linux" %}
            <p>{{ user }} is a Linux user.</p>

        {{% endif %}}
    {{% endfor %}}

</body>
</html>
